# DAY1

In [2]:
str= "Python internship Task 1."
print(str[1:])

ython internship Task 1.

# DAY2

In [3]:
a=int(input())
a/10

30

3.0

In [4]:
b=int(input())
b*50

20

1000

In [5]:
c=int(input())
c+60

60

120

In [6]:
base_str="select"
base_str.replace('l','g')

'segect'

In [7]:
a=int(input())
b=float(input())
print(float(a),int(b))

65
45
65.0 45

In [8]:
a=float(input())
b=int(input())
print(int(a),float(b))

45
67
45 67.0

# DAY3

In [12]:
def Merge(dict1,dict2):
    return(dict2.update(dict1))
dict1={'hello','world','the','20'}
dict2={'welcome','2','my','an'}
print(Merge(dict1,dict2))
print(dict2)

None
{'2', 'an', 'my', 'welcome', '20', 'world', 'the', 'hello'}

In [13]:
myDict={'a':1,'b':2,'c':3}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}

In [14]:
keys=['yellow','pink','violet']
values=['#FF0000','#008000','#000FF']
colour_dictionary=dict(zip(keys,values))
print(colour_dictionary)

{'yellow': '#FF0000', 'pink': '#008000', 'violet': '#000FF'}

In [15]:
seta=set([5,10,3,15,2,20])
print(len(seta))

6

In [16]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("Remove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print(sn1)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Remove the intersection of a 2nd set from the 1st set using -= operator:")
print(sn1-sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
Remove the intersection of a 2nd set from the 1st set using difference_update():
{1, 2, 3}
Remove the intersection of a 2nd set from the 1st set using -= operator:
{1, 2, 3}